body {
	/*uigradients.com*/
	background: #00c3ff;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #ffff1c, #00c3ff);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #ffff1c, #00c3ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	font-family: 'Roboto', sans-serif;
}

#container {
	width: 500px;
	margin: 100px auto;
	box-shadow: 0 0 3px rgba(0,0,0,0.1);
	background:#f7f7f7;
}

.completed {
	color: gray;
	text-decoration: line-through;
}

h1 {
	background:#3273ff;
	color:white;
	margin:0px;
	padding:10px 20px;
	text-transform:uppercase;
	font-size:24px;
	font-weight:normal;
}

ul {
	list-style: none;
	margin:0px;
	padding:0px;
}

li {
	background:#FFF;
	height:40px;
	/*centers the text on the line by making it as tall as the container i.e.
	the li it's in*/
	line-height:40px;
	color:#515151;
}

li:nth-child(2n){
	background:#f7f7f7;
}

input {
	font-size:18px;
	background-color:#f7f7f7;
	width:100%;
	padding:13px 13px 13px 20px;
	height:40px;
	color:#3273ff;
	line-height: 40px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box; 
  	-moz-box-sizing: border-box; 
  	border:4px solid rgba(0,0,0,0);
}

input:focus {
	background:#FFF;
	border: 3px solid #3273ff;
	outline: none;
}

.fa-plus {
	float:right;
}

span {
	background:#e74c3c;
	height: 40px;
	margin-right:20px;
	text-align:center;
	color:white;
	width:0px;
	display:inline-block;
	transition: width .5s linear;
	-webkit-transition: .5s linear;
	-moz-transition: .5s linear;
	opacity: 0;
}

li:hover span{
	width:40px;
	opacity:1;
}











